@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* h2,
    h4,
    button,
    h5,
    h6 {
      font-family: "Slabo 27px", serif;
    }
  
    header,
    p,
    span,
    
    li {
      font-family: "PT Serif", serif;
    }
  
    h1,
    h3 {
      font-family: "Playfair Display", serif;
    } */
    .activeBtn{
        @apply bg-gray-200 text-green-600 text-xl font-semibold
    }

  }